/* General styling for the feedback page */
.feedback-container {
    max-width: 800px;
    margin: 7% auto 4% auto     ;
    padding: 20px;
}

/* Feedback form section */
.feedback-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.feedback-form h1 {
    font-size: 2.5rem;
    color: #004a99;
    margin-bottom: 20px;
}

.feedback-form p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #004a99;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003380; /* Darker shade of the primary color */
}
